<div class="container">
    <h1 class="title">Eliminar Producto</h1>
    <form class="form" action="/products/deleteproduct" method="POST">
        <label for="productId">Id del producto:</label>
        <input type="text" id="productId" name="productId" required><br>
        <button type="submit">Eliminar Producto</button>
    </form>
</div>