<div class="container">
    <h1 class="title">Productos</h1>
    <ul class="productList">
        {{#each products}}
            <li>{{title}} - {{description}} - {{price}}</li>
        {{/each}}
    </ul>
</div>
<script src="/js/index.js"></script>
